#map {
    width: 100%;
    height: 400px;
}

.locations-map-container{
    background-color: rgb(218, 218, 218);
    width: 500px;
}

.locations-inner-container{
    
}

.location-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    position: absolute;
    top: 10%;
    left: calc(50vw - 20rem/2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.801);
    width: 20rem;
    height: 10rem;
    display: none;
}