#map {
    width: 100%;
    height: 400px;
}

button {
    cursor: pointer;
}

.locations-map-container {
    background-color: rgb(218, 218, 218);
    width: 500px;
}

.locations-inner-container {}

.location-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    position: absolute;
    top: 10%;
    left: calc(50vw - 20rem/2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.801);
    width: 20rem;
    height: 10rem;
    display: none;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0%;
    background-color: transparent;
}

.location-item{
    position: relative;
}

.edit-input-container{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
}